<div class="jumbotron">
  <div class="row">
    <div class="col-lg-8 col-md-offset-2">
      <form class="form-signin" name="signinForm">
        <h2 class="form-signin-heading">Введите логин и пароль</h2>
        <label class="sr-only" for="inputEmail">e-mail</label>
        <input autofocus class="form-control" id="inputEmail" ng-model="rc.signinUser.email" placeholder="адрес электронной почты" required type="email">
        <label class="sr-only" for="inputPassword">Password</label>
        <input class="form-control" id="inputPassword" ng-model="rc.signinUser.password" placeholder="пароль" required type="password">
        <button class="btn btn-lg btn-primary btn-block" ng-click="rc.signin()">Войти</button>
      </form>
    </div>
  </div>
