<div class="jumbotron">
  <h1>Задачи из FireBase</h1>
</div>

<div class="col-lg-8 col-md-offset-2">
  <button class="btn btn-default" ng-click="tc.test()">Получить задачи</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Название задачи</th>
        <th>Время</th>
        <th>Стоимость</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tc.tasks">
        <td>{{$index+1}}</td>
        <td>{{task.name}}</td>
        <td>{{task.time}}</td>
        <td>{{task.cost}}</td>
      </tr>
    </tbody>
  </table>
</div>
