<div class="jumbotron">
  <div class="row">
    <div class="col-lg-8 col-md-offset-2">
      <div class="input-group">
        <input ng-model="taskName" type="text" class="form-control" placeholder="Введите название задачи">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="hc.start()">Начать</button>
          <button class="btn btn-default" id="button-stop" ng-click="hc.stop()">Пауза</button>
          <button class="btn btn-default" id="button-reset" ng-click="hc.reset()">Сброс</button>
        </span>
      </div>
    </div>
  </div>


</div>
<div class="col-lg-8 col-md-offset-2">
  <table class="table">
    <thead>
      <tr>
        <th>
          Название
        </th>
        <th>
          Время
        </th>
        <th>
          Стоимость
        </th>
        <th>
          Состояние
        </th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>
          {{taskName}}
        </td>
        <td>
          <p><span id="seconds">00</span>:<span id="tens">00</span></p>
        </td>
        <td>
          0 $
        </td>
        <td>
          Приостановлена
        </td>
      </tr>
    </tbody>
  </table>
</div>
