<div class="jumbotron">
  <div class="row">
    <div class="col-lg-8 col-md-offset-2">
      <div class="input-group">
        <input id="taskName" ng-model="taskName" type="text" class="form-control" placeholder="Введите название задачи">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="hc.start()">Начать</button>
          <button class="btn btn-default" id="button-stop" ng-click="hc.stop()">Пауза</button>
          <button class="btn btn-default" id="button-reset" ng-click="hc.reset()">Сохранить</button>
        </span>
      </div>
    </div>
  </div>


</div>
<div class="col-lg-8 col-md-offset-2">
  <p id="showTaskName">{{taskName}}</p>
  <p><span id="seconds">00</span>:<span id="tens">00</span></p>
  <table class="table">
    <thead>
      <tr>
        <th>
          №
        </th>
        <th>
          Название
        </th>
        <th>
          Время
        </th>
        <th>
          Стоимость
        </th>
        <th>
          Состояние
        </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="task in hc.tasks">
        <td>{{$index+1}}</td>
        <td>{{task.name}}</td>
        <td>{{task.time}}</td>
        <td>00</td>
        <td>00</td>
      </tr>
    </tbody>
  </table>
</div>
