<div class="jumbotron">
  <div class="row">
    <div class="col-lg-8 col-md-offset-2">
      <div class="input-group">
        <input ng-model="hc.newTask.cost"type="number" class="form-control" placeholder="Введите стоимость часа" required>
        <input ng-model="hc.newTask.name" type="text" class="form-control" placeholder="Введите название задачи">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="hc.start()">{{ hc.startBtnText }}</button>
          <button class="btn btn-default" ng-click="hc.reset()">Сохранить</button>
        </span>
      </div>
    </div>
  </div>


</div>
<div class="col-lg-8 col-md-offset-2">
  <p>{{taskName}}</p>
  <p>{{timeCost}}</p>

  <p>{{ hc.timer | date:'HH:mm:ss':'+0000' }}</p>
  <table class="table">
    <thead>
      <tr>
        <th>
          №
        </th>
        <th>
          Название
        </th>
        <th>
          Время
        </th>
        <th>
          Стоимость
        </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="task in hc.tasks track by $index">
        <td>{{$index+1}}</td>
        <td><input type="text" class="task-inner" placeholder={{task.name}}></td>
        <td>{{task.time | date:'HH:mm:ss':'+0000' }}</td>
        <td>{{ task.time/3600000 * task.cost | currency:"USD$ "}}</td>
      </tr>
    </tbody>
  </table>
</div>
